@font-face {
    font-family:'Macondo';
    src: url(../Fontz/Macondo-Regular.woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.account{
    width: 100%;
    height: 100vh;
    font-family:'Macondo';
    position: relative;
    background-color: rgb(239, 232, 232, .8);
}
.account .login-btn{
    position: absolute;
    top: 80%;
    right: 45%;
    padding: .7rem;
    background-color: lightcoral;
    width: 150px;
    visibility: hidden;
}
.account .account-grid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.account-type,
.internet-banking{
    background-color: rgb(76, 4, 76);
    width: fit-content;
    margin: 0px .5rem;
    padding: .9rem;
    width: 350px;
    border-radius: .5rem;
    box-shadow: .1rem .2rem rgb(228, 215, 215);
}
.account-type:hover,
.internet-banking:hover{
    background-color: rgb(19, 1, 19);
    transition: all .3s ease-in-out;
    scale: .9;
}
.account-type h3,
.internet-banking h3{
    text-align: center;
    color: wheat;
}