*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family:'Macondo';
    src: url(../Fontz/Macondo-Regular.woff);
}
.main-grid {
    height: 100%;
    display: flex;
    overflow: hidden;
    background-color: rgb(239, 232, 232, .8);
  }

  .menu-list {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }
  .menu-link {
    text-decoration: none;
    color: inherit;
  }
  .menu-list h2{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family:'Macondo';
    cursor: pointer;
  }
  .menu-list h1{
    font-size: 5rem;
    margin-bottom: 1rem;
    font-family:'Macondo';
  }
.menu-list h2:hover,
.menu-list h1:hover{
    cursor: pointer;
    color: rgb(171, 53, 11);
    transition: all .3s ease-in-out;
}
.location{
    display:flex;
    flex-direction: column;
    width: 40%;
}
  .cards {
    border-radius: 8px;
    padding: 15px;
    height: fit-content;
    font-family:'Macondo';
  }

  .card .header {
    font-weight: bold;
    margin-bottom: .5rem;
  }
  .card .address{
    padding-left: 1rem;
  }

  @media (max-width: 767px) {
    .menu-list {
      margin-bottom: 20px;
    }
  }